@import url("./grid.css");
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
}

.header {
  height: 350px;
  background-color: black;
  background-image: url(../images/120594794_368209604546812_8094286223005703375_n的副本.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
}

.backgroundcolor {
  background-color: #1c1918;
}

.nav-primary {
  padding: 1px 5px;
  position: sticky;
  top: 0;
  left: 0;
  background: #000;
  z-index: 10;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.li {
  float: left;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6vw 4vw 6vw 4vw;
  text-decoration: none;
  font-size: 4vw;
}

.li a:hover {
  background-color: #1c1918;
}

.inside image {
  width: 50%;
  height: 50%;
}

.scrim {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5rem rgba(0, 0, 0.5);
}

.mw-med {
  max-width: 720px;
  margin: 0 auto;
}

.aspect-ratio {
  position: relative;
  background: black;
  width: 100%;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tc {
  padding-left: 50px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.container {
  position: relative;
  height: 45px;
}

.logo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.alogo {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 0;
  right: 0;
  margin: auto;
  border: solid 9px #1c1918;
  background: #1c1918;
}

.hr {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 100%;
  height: 3%;
  border: none;
  background-color: white;
}

.hr2 {
  width: 40%;
  margin-left: 0;
}

.hr3 {
  width: 40%;
  margin-right: 0;
}

.pg {
  width: 80%;
  margin: auto auto;
  padding-bottom: 24px;
  padding-top: 20px;
  display: block;
}

.video {
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 70%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.li2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 15px 0px 15px;
}

.ul3 {
  list-style-type: none;
}

.li3 a {
  text-decoration: #ffffff;
}

.h1 {
  margin-top: 0px;
  padding-top: 40px;
  text-align: center;
}

.pt {
  padding-top: 20px;
}

.center {
  text-align: center;
}

.mt {
  padding: 0px 30px 0px 30px;
}

.mi {
  width: 55%;
}

.qa {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.credit {
  display: block;
  padding: 10px 30px 10px 30px;
}

.clink {
  color: #ffffff;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.removemb {
  margin-bottom: 0px;
}

.t {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding: 0px 32px;
}

.accordion {
  background-color: #000;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: ivory;
  outline: none;
  transition: 0.4s;
  margin-top: 30px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #646262;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #1c1918;
  display: none;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
}

.button {
  padding: 12px 22px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  color: #1c1918;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {
  background-color: #646262;
}

.button:active {
  background-color: #646262;
  box-shadow: 0 7px #666;
  transform: translateY(4px);
}

/* Desktop Styles */
@media (min-width: 767px) {
  /* set image as background & center the headline */
  .header {
    position: relative;
    height: 850px;
    background-color: black;
    background-image: url(../images/120594794_368209604546812_8094286223005703375_n的副本.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .mabo {
    margin-bottom: 60px;
  }

  .container {
    position: relative;
    height: 65px;
  }

  .alogo {
    width: 80px;
    height: 80px;
  }

  .hr {
    width: 100%;
    height: 2.5%;
  }

  .h2p {
    padding-top: 40px;
  }

  .li a {
    padding: 2vw 4vw 2vw 4vw;
    font-size: 2vw;
  }

  /* add a scrim to the background*/

  .scrim {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5rem rgba(0, 0, 0.5);
  }

  .dh1 {
    font-size: 40px;
  }

  .dh2 {
    font-size: 32px;
  }

  .t {
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
  }

  .tc {
    padding: 22px 200px 56px 200px;
  }

  .md {
    padding-bottom: 120px;
  }

  .mi {
    width: 50%;
  }

  .mw50 {
    max-width: 40%;
    margin: 0 auto;
  }

  .mt {
    padding: 0px 120px 80px 120px;
  }

  .mbetween {
    padding: 0px 120px 80px 0px;
  }

  .dmt {
    display: flex;
  }

  .db {
    display: block;
  }

  .section {
    display: flex;
    margin-right: 250px;
  }

  .tr {
    margin: 0px auto;
    padding-bottom: 120px;
  }

  .pt60 {
    padding-top: 60px;
  }

  .h1 {
    font-size: 40px;
    margin-top: 0px;
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
  }

  .dh3 {
    font-size: 24px;
  }

  .df {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
  }

  .video {
    width: 55%;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .bq {
    padding: 200px 280px 100px 40px;
    font-size: 24px;
    font-weight: bold;
  }

  .pg {
    width: 45%;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 40px;
  }

  .ht {
    padding: 80px 200px;
  }

  .credit {
    display: block;
    padding: 25px 80px 80px 80px;
    text-decoration: #ffffff;
    font-size: 24px;
  }

  .ib {
    margin-bottom: 0px;
    padding-bottom: 40px;
  }

  .footer {
    padding: 10px 20px 10px 20px;
    display: block;
    background-color: black;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
  }

  .pmonly {
    padding-bottom: 24px;
    margin-top: 0px;
  }
}

/* Mobile Styles */
@media (max-width: 766px) {
  .mw50 {
    max-width: 50%;
    margin: 0 auto;
  }

  .button {
    padding: 10px 13px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    color: #1c1918;
    background-color: white;
    border: none;
    border-radius: 13px;
    box-shadow: 0 4px #999;
  }

  .button:hover {
    background-color: #646262;
  }

  .button:active {
    background-color: #646262;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .tr {
    margin: 0px auto;
    padding-bottom: 40px;
  }

  .ib {
    margin-bottom: 0px;
    padding-bottom: 60px;
  }

  .pt60 {
    padding-top: 40px;
  }

  .footer {
    padding: 10px 20px 44px 20px;
    display: block;
    background-color: black;
    font-size: 12px;
    margin-top: 20px;
  }

  .pmonly {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .mlr {
    margin-left: 10px;
    margin-right: 10px;
  }

  .credit {
    display: block;
    padding: 10px 40px 10px 0px;
  }

  .mabo {
    margin-bottom: 20px;
  }

  .df {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
  }
}
